html {

}

.container {
  background-color: rgba(137, 43, 226, 0.377);
  border: 5px solid  rgb(137, 43, 226);
  height: 100vh;
}
.child {
  height: 10rem;
  width: 10rem;
  border: 2px solid rgb(255, 255, 255);
  color: aliceblue;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
#one {
  background-color: rgb(223, 93, 93);

}
#two {
  background-color: rgb(101, 127, 221);
}

#three {
  background-color: rgb(151, 235, 157);
}

#four {
  background-color: rgb(76, 157, 187);
}

#five {
  background-color: rgb(223, 219, 93);
}